{% extends "story4/base.html" %}
{% load static %}

{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'story4/style.css' %}">{% endblock style %}


{% block title %}<title>Interests</title>{% endblock title %}

{% block content %}
	<div class="container">
		<section class="hobbies">
			<div class="row row-hobbies">
				<div class="col col-12 offset-0 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
					<div class="line-hobi"></div>
					<div class="row row-hobby">
						<div class="col col-hobby col-4">
							<div class="round-hobby active bas" onclick="clicked(1)"><i class="fas fa-basketball-ball"></i></div>
						</div>
						<div class="col col-hobby col-4">
							<div class="round-hobby mus" onclick="clicked(2)"><i class="fas fa-headphones"></i></div>
						</div>
						<div class="col col-hobby col-4">
							<div class="round-hobby buk" onclick="clicked(3)"><i class="fas fa-book"></i></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col col-10 offset-1 col-md-8 offset-md-2 hobby-desc basket">
					<h3>Basket.</h3>
					<p>Sejak SMP saya suka bermain bola basket. Saya pernah mengikuti ekstrakulikuler basket. Saya sampai beli bola basket indoor agar bisa bermain di dalam rumah. Tapi, akhir-akhir ini sudah jarang sekali bermain basket. Meskipun demikian, saya tetap suka.</p>
				</div>
				<div class="col col-10 offset-1 col-md-8 offset-md-2 hobby-desc musik">
					<h3>Musik.</h3>
					<p>Saya memang tidak ahli bermain musik apalagi menyanyi. Tapi, saya suka mendengarkan musik. Menurut saya, musik bukan hanya pelantunan kata. Namun, juga pelantunan makna. Banyak makna yang menarik dalam sebuah lagu.</p>
				</div>
				<div class="col col-10 offset-1 col-md-8 offset-md-2 hobby-desc buku">
					<h3>Buku.</h3>
					<p>Saya sangat suka mengoleksi buku, terutama bergenre <i>self development</i>. Selain itu, saya juga suka membaca buku biografi dari beberapa tokoh yang saya idolakan. Salah satunya adalah buku karya Ria SW. Saya pun suka membaca buku novel, namun saya jarang mengoleksinya.</p>
				</div>
			</div>
		</section>
{% endblock content %}

{% block script %}
	<script src="{% static 'story4/interestscript.js' %}" type="text/javascript"></script>
{% endblock script %}
