{% extends "story4/base.html" %}
{% load static %}

{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'story4/style2.css' %}">{% endblock style %}


{% block title %}<title>Projects</title>{% endblock title %}

{% block content %}
	<div class="row">
		<div id="profil" class="col col-12 col-sm-4 col-md-3 profil">
			<div class="foto">
				<div class="round-back">
					<img src="{% static 'story4/images/me.png' %}">
					<div class="name"><p>Aynun Nissa</p></div>
				</div>
			</div>
			<div class="desc">
				<p>Saat ini sedang fokus di bidang Front End Development</p>
			</div>
			<div class="nav">
				<ul>
					<li class="nav-opt visit" id="project" onclick="visit('#project','.konten-project')"><button>Projects</button></li>
					<li class="nav-opt" id="exp" onclick="visit('#exp','.konten-exp')"><button>Pengalaman</button></li>
					<li class="nav-opt" id="skill" onclick="visit('#skill', '.konten-skill')"><button>Skills</button></li>
				</ul>
			</div>
			<div class="contact">
				<ul>
					<li><a href="https://www.instagram.com/aynunnissa___/" target="_blank"><i class="fab fa-instagram"></a></i></li>
					<li><a href="https://www.linkedin.com/in/aynun-n-7b9b17134" target="_blank"><i class="fab fa-linkedin"></a></i></li>
					<li><a href="mailto:nissasetiawan4@gmail.com" target="_blank"><i class="far fa-envelope"></a></i></li>
				</ul>
			</div>
			<div class="back-nav">
				<button><a href="{% url 'index' %}">Lihat Profil Saya</a></button>
			</div>
		</div>

		<div class="col col-12 col-sm-8 col-md-9 konten konten-project display">

			<section class="projects first-project">
				<div class="row row-title">
					<div class="col col-12 col-title">
						<h1>To Do List Web</h1>
					</div>
				</div>
				<div class="capture">
					<div class="row">
						<div class="col col-8 notebook">
							<img src="{% static 'story4/images/notebook.png' %}">
						</div>
						<div class="col col-4 phone">
							<img src="{% static 'story4/images/phone.png' %}">
						</div>
					</div>
				</div>
				<div class="recipe">
					<p>Recipes:</p>
					<div class="row">
						<div class="col col-12">
							<div class="btn-group" role="group" aria-label="Basic example">
							  <button type="button" class="btn btn-secondary"><a href="">Heart</a></button>
							  <button type="button" class="btn btn-secondary"><a href="https://www.djangoproject.com/" target="_blank">Django</a></button>
							  <button type="button" class="btn btn-secondary"><a href="https://www.javascript.com/" target="_blank">Javascript</a></button>
							  <button type="button" class="btn btn-secondary"><a href="https://developer.mozilla.org/id/docs/Web/CSS" target="_blank">CSS</a></button>
							  <button type="button" class="btn btn-secondary"><a href="https://developer.mozilla.org/id/docs/Web/HTML" target="_blank">HTML</a></button>
							  <button type="button" class="btn btn-secondary"><a href="https://www.w3schools.com/whatis/whatis_ajax.asp" target="_blank">1 tsp Ajax</a></button>
							  <button type="button" class="btn btn-secondary"><a href="https://jquery.com/" target="_blank">1 tsp Jquery</a></button>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="projects second-project">
				<div class="row row-title">
					<div class="col col-12 col-title">
						<h1>Jejak Alumni Sega Web</h1>
					</div>
				</div>
				<div class="capture">
					<div class="row">
						<div class="col col-8 notebook">
							<img src="{% static 'story4/images/notebook2.png' %}">
						</div>
						<div class="col col-4 phone">
							<img src="{% static 'story4/images/phone2.png' %}">
						</div>
					</div>
				</div>
				<div class="recipe">
					<p>Recipes:</p>
					<div class="row">
						<div class="col col-12">
							<div class="btn-group" role="group" aria-label="Basic example">
							  <button type="button" class="btn btn-secondary"><a href="">Heart</a></button>
							  <button type="button" class="btn btn-secondary"><a href="https://www.djangoproject.com" target="_blank">Django</a></button>
							  <button type="button" class="btn btn-secondary"><a href="https://www.javascript.com/" target="_blank">Javascript</a></button>
							  <button type="button" class="btn btn-secondary"><a href="https://developer.mozilla.org/id/docs/Web/CSS" target="_blank">CSS</a></button>
							  <button type="button" class="btn btn-secondary"><a href="https://developer.mozilla.org/id/docs/Web/HTML" target="_blank">HTML</a></button>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<div class="col col-12 col-sm-8 col-md-9 konten konten-exp">
			<section class="experience" id="experience">
				<div class="row row-title">
					<div class="col col-12 ed-title">
						<h1 class="ex-title">Pengalaman</h1>
					</div>
				</div>
				<div class="row row-content">
					<div class="col col-3 level">
						<h4>Relawan Divisi Program</h4>
						<p>Maret 2020 - Sekarang</p>
					</div>
					<div class="col col-1 line-symbol">
						<div class="round"><i class="fas fa-users"></i></div>
						<div class="line"></div>
					</div>
					<div class="col col-8 desc">
						<h4>Kejar Mimpi Jakarta</h4>
						<p>Kejar Mimpi Jakarta adalah bagian dari Kejar Mimpi yang diinisiasi oleh CIMB Niaga. Kejar Mimpi memiliki 4 pilar, yaitu pendidikan, lingkungan, pembangunan ekonomi sosial, dan filantropi. Program yang kami belum lama kami laksanakan adalah Business Camp. Sebuah perlombaan bisnis yang diawali dengan pembekalan berupa webinar.</p>
					</div>
				</div>
				<div class="row row-content">
					<div class="col col-3 level">
						<h4>Relawan Divisi Hubungan Publik</h4>
						<p>Februari 2020 - Maret 2020</p>
					</div>
					<div class="col col-1 line-symbol">
						<div class="round"><i class="fas fa-users"></i></div>
						<div class="line"></div>
					</div>
					<div class="col col-8 desc">
						<h4>Kejar Mimpi Jakarta</h4>
						<p>Kejar Mimpi Jakarta adalah bagian dari Kejar Mimpi yang diinisiasi oleh CIMB Niaga. Kejar Mimpi memiliki 4 pilar, yaitu pendidikan, lingkungan, pembangunan ekonomi sosial, dan filantropi. Sebagai bagian dari divisi hubungan publik, saya bertugas mencari sekolah atau kampus yang potensial untuk didatangi tim kejar mimpi, menyebarluaskan komunitas kami agar semakin banyak lagi <i>dream warriors</i>.</p>
					</div>
				</div>
				<div class="row row-content">
					<div class="col col-3 level">
						<h4>Panitia Divisi Sponsorship</h4>
						<p>2019 - 2019</p>
					</div>
					<div class="col col-1 line-symbol">
						<div class="round"><i class="fas fa-users"></i></div>
						<div class="line"></div>
					</div>
					<div class="col col-8 desc">
						<h4>MTQ UI Universitas Indonesia</h4>
						<p>MTQ UI adalah kegiatan perlombaan dalam seni dan pemahaman Alquran untuk mahasiswa yang diadakan setiap tahun oleh Nuansa Islam Mahasiswa (SALAM) Universitas Indonesia. Selama bertugas, saya menghubungi beberapa pihak sponsor yang potensial, seperti Taqychan Travel dan beberapa perusahaan penerbit Al-Qur'an.</p>
					</div>
				</div>
				<div class="row row-content">
					<div class="col col-3 level">
						<h4>Ketua Ekstrakulikuler</h4>
						<p>2016 - 2017</p>
					</div>
					<div class="col col-1 line-symbol">
						<div class="round"><i class="fas fa-users"></i></div>
						<div class="line"></div>
					</div>
					<div class="col col-8 desc">
						<h4>Kelompok Ilmiah Remaja SMAN 103 Jakarta</h4>
						<p>Ketika menjalankan masa jabatan saya, visi utama yang saya ajukan adalah pengembangan tim secara internal (tiap individu hingga kelompok) dan eksternal. Beberapa cara yang tim kami lakukan adalah dengan mengikutkan tim saya ke perlombaan kelompok ilmiah remaja seperti LKIR sebagai bentuk pengembangan internal dan tim kami pun memproduksi produk seperti sabun sebagai bentuk pengembangan eksternal.</p>
					</div>
				</div>
				<div class="row row-content">
					<div class="col col-3 level">
						<h4>Anggota Ekstrakulikuler</h4>
						<p>2017 - 2017</p>
					</div>
					<div class="col col-1 line-symbol">
						<div class="round"><i class="fas fa-users"></i></div>
						<div class="line"></div>
					</div>
					<div class="col col-8 desc">
						<h4>Rohani Islam SMAN 103 Jakarta</h4>
						<p>Rohani Islam adalah ekstrakulikuler untuk siswa yang beragama Islam. Kegiatan kami adalah seputar berbagi ilmu keagamaan hingga membuat acara keagamaan.</p>
					</div>
				</div>
			</section>
		</div>

		<div class="col col-12 col-sm-8 col-md-9 konten konten-skill">
			<div class="row">
				<div class="col col-12">
					<ul>
						<h1>Skills</h1>
						<li>HTML</li>
						<li>CSS</li>
					</ul>
					
				</div>
			</div>
			<div class="row">
				<div class="col col-12">
					<ul>
						<h1>Skills yang sedang dipelajari</h1>
						<li>Python</li>
						<li>Django</li>
						<li>Javascript</li>
						<li>React JS</li>
						<li>Ajax</li>
						<li>JQuery</li>
						<li>Bootstrap</li>
					</ul>
				</div>
			</div>
		</div>

	</div>

{% endblock content %}

{% block script %}
	<script src="{% static 'story4/projectscript.js' %}" type="text/javascript"></script>
{% endblock script %}